<style type="text/css">
  .footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .made-with-love {
    margin-right: 10px;
    cursor: default;
  }

  .ref {
    margin-left: 10px;
  }
</style>
<div class="footer__info">
  <div class="made-with-love">
    This page was made with ❤️
  </div>
  <div class="ref">
    <a href="https://github.com/mostafa8026/express-football-game">
      <img src="https://img.shields.io/badge/Github-Express--Football--Game-blue?logo=github&style=flat-square"
        alt="Github Express-Football-Game">
    </a>
  </div>
</div>