<style type="text/css">
  .header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .title {
    margin-right: 10px;
    cursor: default;
  }

  .ref {
    margin-left: 10px;
  }
</style>

<div class="header__info">
  <div class="title">
    <%=header %>
  </div>
</div>